.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login {
        width: fit-content;
        padding: 20px;
        text-align: center;
    }

    .form-group {
        margin-bottom: 10px;
        label {
            padding-right: 10px;
        }
    }
}